---
---

@import "{{ site.theme }}";

header {
  display: none;
}

.page-header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}
