---
---

@import "{{ site.theme }}";

header {
  display: none; /* This ensures that the default header from the theme is not displayed */
}

.page-header {
    background: #333; /* Dark background for the header section */
    color: #fff; /* White text color */
    padding-top: 30px; /* Space above the content in the header */
    min-height: 70px; /* Minimum height for the header */
    border-bottom: #0779e4 3px solid; /* Blue bottom border */
}

@media (max-width: 600px) {
    nav, .container, .page-header {
        float: none;
        text-align: center;
        width: 100%;
    }
    .content, .mixes, .about, .contact {
        text-align: left; /* This aligns text to the left in these sections */
        padding: 20px; /* Adds padding around the text */
    }
    nav a {
        display: block;
        margin: 0;
        text-align: center; /* Keeps your navigation links centered */
    }
    .content img, .about img {
        margin: auto;
        float: none;
        display: block;
    }
}

