@import "{{ site.theme }}";

header {
    display: none !important;
}

.page-header {
    background: #333; /* Dark background for the header section */
    color: #fff; /* White text color */
    padding-top: 30px; /* Space above the content in the header */
    min-height: 70px; /* Minimum height for the header */
    border-bottom: #0779e4 3px solid; /* Blue bottom border */
}

@media (max-width: 600px) {
    .container, img, iframe, .content, .mixes, .about, .contact {
        max-width: 100%;
        margin: 0 auto; /* Centers the element if it's smaller than the screen */
        padding: 0 20px; /* Adds padding while ensuring elements don't extend beyond the viewport */
        box-sizing: border-box; /* Ensures padding doesn't add to the total width */
    }

    /* Make sure images and iframes are not wider than the screen */
    img, iframe {
        height: auto; /* Maintain aspect ratio */
    }

    .content, .mixes, .about, .contact {
        text-align: left; /* Aligns text to the left in these sections */
        padding: 20px; /* Adds padding around the text */
    }
    nav a {
        display: block;
        margin: 0;
        text-align: center; /* Keeps your navigation links centered */
    }
    .content img, .about img {
        margin: auto;
        float: none;
        display: block;
    }
}
